.responsive-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1.5em;
  font-size: 1em;
}
.buttonStyle{ 
  margin-bottom: 1em;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.responsive-table thead {
  display: table-header-group;
}

.responsive-table thead th {
  background-color: rgb(25, 70, 235);
  border: 1px solid rgb(75, 140, 237);
  color: white;
  padding: .75em;
  text-align: center;
}

.responsive-table tbody tr:nth-of-type(even) {
  background-color: rgba(75, 140, 237, 0.1);
}

.responsive-table tbody td,
.responsive-table tbody th {
  border: 1px solid rgba(75, 140, 237, 0.5);
  padding: .75em;
  text-align: center;
}


@media screen and (max-width: 768px) {
  .responsive-table thead {
    display: none;
  }

  .responsive-table tr {
    display: block;
    margin-bottom: 1em;
    border: 1px solid rgba(75, 140, 237, 0.3);
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    padding: 0.5em;
  }

  .responsive-table td {
    display: flex;
    justify-content: space-between;
    text-align: left;
    padding: 0.5em;
    border: none;
    border-bottom: 1px solid rgba(75, 140, 237, 0.2);
  }

  .responsive-table td:last-child {
    border-bottom: none;
  }

  .responsive-table td:before {
    content: attr(data-title);
    font-weight: bold;
    color: rgb(25, 70, 235);
    margin-right: 1em;
    flex-basis: 40%;
    text-align: left;
  }
}

.iconDes {
  display: flex;
  position: relative;
  align-items: center;
  gap: 0.5rem;
  justify-content: space-between;
  min-width: auto;
}

.iconDes .boton-elegante {
  gap: 10px;
  font-size: 0.9rem;
  border-radius: 8px;
  min-width: 36px;
  border: 2px solid #2c2c2c;
  background-color: #1a1a1a;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.4s ease;
}

.second {
  position: absolute;
  padding:  0px, 0px;
}
.first{
  position: absolute;
}


.iconDes .boton-elegante:hover::after {
  transform: scale(4);
}

.iconDes .boton-elegante:hover {
  border-color: #666666;
  background: #292929;
}


.iconDes .boton-elegante svg {
  margin-right: 2px;
  font-size: 1rem;
}

.iconDes .boton-elegante+.boton-elegante {
  margin-left: 0.5rem;
}